*{margin: 0; padding: 0; font-family: "微软雅黑"; font-size: 16px;}
a{text-decoration: none;}
li{list-style: none;}
img{border: none;}
.fl{float: left;}
.fr{float: right;}
.clear{width: 0; height: 0; clear: both;}
.center{width: 1100px; margin: 0 auto;}


herder{width: 100%;}
header .top{width: 100%;height: 30px;background: #000000;}
header .top .top1 a{color:#999999;display: block;width: 75px;height: 30px;line-height: 30px;text-align: center;float: left;font-size: 12px;}
header .top .top1 a img{margin-top: 10px;display: none;}
header .top .top1 a:hover{color: #fff;}
header .top .top1 a:hover img{display: block;}

header .top .zuida{width: 630px;height: 30px;}
header .top .zuida li{width:70px;height: 30px;display:block;  text-align: center;line-height: 30px;font-size:12px;color: #999999;margin-left: 20px;}
header .top .zuida .q1{width: 90px;}
header .top .zuida li .sanjiao{color: #999999;margin-left: 5px;}
header .top .zuida li:hover{background: #fff;color: red;}
header .top .zuida li:hover .sanjiao{transform: rotate(180deg);color: red;transition: 0.5s;}
header .top .zuida li .xiala{width: 110px;box-shadow: 0 1px 1px 1px #d2d1d1; border-top: none;background: #fff;display: none;overflow: hidden;}
header .top .zuida li .xiala1{width: 95px;box-shadow: 0 1px 1px 1px #d2d1d1;border-top: none;background: #fff;display: none;overflow: hidden;}
header .top .zuida li .xiala2{width: 110px;box-shadow: 0 1px 1px 1px #d2d1d1;border-top: none;background: #fff;display: none;overflow: hidden;}
header .top .zuida li .xiala3{width: 90px;box-shadow: 0 1px 1px 1px #d2d1d1;border-top: none;background: #fff;display: none;overflow: hidden;}
header .top .zuida li .xiala4{width: 85px;box-shadow: 0 1px 1px 1px #d2d1d1;border-top: none;background: #fff;display:none ;overflow: hidden;}
header .top hr{width: 85px; border:solid 0.5px #d2d1d1;}
header .top .zuida li:hover .xiala{display: block;}
header .top .zuida li:hover .xiala1{display: block;}
header .top .zuida li:hover .xiala2{display: block;}
header .top .zuida li:hover .xiala3{display: block;}
header .top .zuida li:hover .xiala4{display: block;}
header .top .zuida li .liebiao{width: 100px; height: 30px;line-height: 30px;margin-left: 10px;}
header .top .zuida li .liebiao a{color: #000;text-align: left;display: block;width: 100px;}
header .top .zuida li .liebiao .a1{color: #000;text-align: left;display: block;width: 100px;position: relative;}
header .top .zuida li .liebiao:hover img{opacity: 1;}

header .top .zuida li .liebiao:hover a{color: red;}
header .top .zuida li .liebiao img{position: absolute; right: 80px;top: 40px;opacity: 0;}

/*top end*/

header .nav{height: 140px;}
header .nav .nav1{width: 100%;height: 100%;padding: 0px 0 0 5px;}
header .nav .nav1 .logo{float: left;margin-top: 15px;}
header .nav .nav1 .ipt{float: left;width: 514px;height: 70px;margin: 20px 0 0 150px;}
header .nav .nav1 .ipt .ipt1{width: 100%;height: 36px;border: solid 2px red;border-radius: 17px;}
header .nav .nav1 .ipt .ipt2{width: 36px;height: 36px;padding: 12px 0 0 15px;}
header .nav .nav1 .ipt .sousuo1{width: 15px;height: 15px;}
header .nav .nav1 .ipt input{width: 350px;height: 36px;border: none;background: none;outline: none;color: #ddd;padding-left: 10px;}
header .nav .nav1 .ipt .ipt3{width: 60px;height:38px;background:#ff0f23;border-radius: 17px;margin-top: -1px;}
header .nav .nav1 .ipt .sousuo2{width: 15px;height: 15px;padding: 12px 0 0 25px;}
header .nav .nav1 .ipt .qq1{font-size: 12px;display: block;width: 50px;height: 12px;text-align: center;color: #999;margin:7px 0 0 18px;}
header .nav .nav1 .ipt .qq1:hover{color: red;}
header .nav .nav1 .gouwu{width: 110px;height: 36px;border-radius: 20px;border: solid 2px #ff1e32;margin: 20px 0 0 50px;}
header .nav .nav1 .gouwu img{width: 20px;height: 20px;margin:8px 0 0 20px;}
header .nav .nav1 .gouwu a{line-height: 36px;color: #000;}
#shouye{width:100%;height: 30px;float: left;}
#shouye ul{width:850px ;height: 30px;margin-left: 180px;margin-top: 20px;}
#shouye ul li{float: left;width: 75px;margin-left: 10px;}
#shouye ul li a{display: block; font-size: 14px;color: #333;text-align:center;line-height: 30px;}
#shouye ul li .aa1{color: red;}
#shouye ul li:hover a{color: red;}
/* nav*/

#ul1{width: 70px;height: 30px;}
#ul1 .zuida{width: 164px;height: 45px;background: url(../images/beijing_03.jpg) repeat-y;margin-top: -25px;}

#ul1 .zuida img{width: 28px;height: 28px;float: left;margin: 15px 0 0 15px;width:20px;height:18px;}
#ul1 .zuida a{width: 50px; display: block; line-height: 50px;font-size: 12px;color: #fff; padding-left: 28px;text-align: left;float: left;}
#ul1 .zuida .ul2{width: 164px;height: 460px;background: url(../images/beijing_03.jpg) repeat-y;float:left;margin-top: -5px;display: none;}
#ul1 .zuida .ul2 li{width: 164px;height: 45px;background: url(../images/beijing_03.jpg) repeat-y;float: left;}
#ul1 .zuida .ul2 li img{width: 30px;height: 30px;float: left;margin: 15px 0 0 10px;}
#ul1 .zuida .ul2 li a{width:50px; display: block; line-height: 50px;font-size: 12px;color: #fff;float: left; padding-left: 25px;text-align: left;}
#ul1 .zuida .ul2 li .a3{width: 20px; display: block; line-height: 50px;font-size: 12px;color: #fff;float: left;text-align: left;}
#ul1 .zuida:hover .ul2{display: block;}
#ul1 .zuida .ul2 li:hover{background: #fff;}
#ul1 .zuida .ul2 li:hover a{color: red;}
#ul1 .zuida .ul2 li:hover img{background: red;}











.con{width: 100%;height: 2900px; background: #f6f6f6;}
.con .con1{width: 100%;height: 130px;}
.con .con1 img{width: 100%;height: 80px;}
.con .con1 .hui{width: 100%;height:50px ;background: #333;margin-top:-5px;}

.con .con1 .hui ul li{float: left;width: 12.5%;height: 50px;}
.con .con1 .hui ul li a{display: block;line-height: 50px;text-align: center;color: #999;background:#333;}
.con .con1 .hui ul li a:hover{color: #fff;}


.con .con2 ul{margin-top:20px;}
.con .con2 ul li{width: 264px;height: 380px;background: #FFFFFF;margin:10px 0 0 14px;float: left;}

.con .con2 ul li img{width: 265px;height: 265px;}
.con .con2 ul li img:hover{opacity: 0.5;}
.con .con2 ul li a{width: 230px;height: 38px;display: block;font-size: 12px;margin-top: 10px;}
.con .con2 ul li .red{width: 265px;height: 40px;background:#de2634;margin-top: 20px;}
.con .con2 ul li .red h1{width:80px; font-size: 19px;line-height: 40px;float: left;color: #fff;text-align: center;}
.con .con2 ul li .red h2{font-size: 11px;line-height: 40px;float: left;margin-left: 10px;color: #fff;text-decoration:line-through;}
.con .con2 ul li .red a{width: 90px;height: 38px;border: 1px solid #de2634;border-right: none; display: block;text-align: center;font-size: 14px;line-height: 38px;background: #fff;color:#de2634;margin-left:173px ;}







/*footer*/
footer{width: 100%;height: 480px;background: #fff; float: left;margin-top: 30px;}
#foot1 ul{width: 1100px;height: 120px;border-bottom: 1px solid #ccc; margin: 0 auto;}
#foot1 li{width: 275px;float: left;}
#foot1 li span{font-size: 28px;font-weight: bold;color: #000;border: 2px solid #ccc;border-radius: 30px;width: 50px;height: 50px; display:block;line-height: 35px;text-align: center;margin-top: 25px;}
#foot1 li p{font-size: 20px;font-weight: bold;color: #000;margin-top: 36px;}
#foot1 li p span{font-size: 14px;font-weight: normal;border:none;border-radius:none;padding: 0;margin: 0;width: 180px;}

#foot2{width: 1100px;height: 230px;margin: 0 auto;}
.fo2_l{width: 270px;height: 230px;padding-top: 30px;}
.fo2_l a{margin-left: 25px;padding-top: 30px;}
.fo2_l span{margin-left: 25px;font-size: 14px;float: left;margin-top: 40px;}
.fo2_l ul{float: right;margin-right: 30px;margin-top: -30px;}
.fo2_l li{width: 60px;height: 60px;float: left;margin-left: -6px;text-align: center;}

.fo2_l li dt{width: 110px;height: 110px;background: #fff;margin-left: -14px;text-align: center;}
.fo2_l li dt img{width: 100px;margin-top: 4px;}
.fo2_l li dt{display: none;}
.fo2_l li:hover dt{display: block;}

.fo2rl{width: 600px;height: 230px;padding-top: 30px;}
.fo2rl ul{width: 550px;margin: 0 auto;margin-bottom: 30px;}
.fo2rl li{width: 110px;height: 30px;color:#000;float: left;font-size: 20px;text-align: center;line-height: 30px;}
.fo2rl li dd{width: 70px;height: 30px;line-height: 30px;font-size: 14px;padding-left: 10px;}
.fo2rl li dd a{color: #999;font-size: 12px;}
.fo2rr{width: 230px;height: 200px;padding-top: 30px;text-align: center;font-size: 16px;}

#foot3{width: 100%;height: 150px;background: #333;padding-top: 30px;overflow: hidden;}
#foot3 ul{width: 850px;height: 30px;margin: 0 auto;line-height: 30px;padding-left: 250px;}
#foot3 li{float: left;}
#foot3 li a{font-size: 12px;color: #fff;}
#foot3 ul:nth-child(2){padding-left: 190px;}
#foot3 ul:nth-child(2) li{margin-left: 20px;}
#foot3 ul:nth-child(3){height: 34px;padding-left: 120px;}
#foot3 ul:nth-child(3) li{margin-left: 20px;}
#foot3 ul:nth-child(4){padding-left: 550px;}
#foot3 ul:nth-child(4) img{width: 70px;}
#foot3 ul:nth-child(4) #ppc{width: 30px;}
#foot3 ul:nth-child(4) li{margin-left: 20px;}